<% const d = new Date()
let year = d.getFullYear() %>
<footer class="footer">
    <p class="copywright">&copy ; <%= year %>, CSE 340 APP</p>
    <a href="/error/trigger-error" class="error-link">Trigger Error</a>
</footer>